paramiko
requests
Django
gmplot
urllib3
cfscrape
beautifulsoup4==4.8.2
dnspython
IP2Location
IP2Proxy
pillow
python-nmap
torrequest
pdfx
lxml
simplejson
PyYAML
jsonfield
django-cors-headers
xhtml2pdf
pdfkit
requests_html
pyvirtualdisplay
selenium
pycrypto
WeasyPrint
pyyaml
ua-parser
user-agents
django-user-agents
GPSPhoto
piexif
exifread
python-dateutil
matplotlib==3.1.3
numpy==1.18.1
imutils==0.5.3
mtcnn==0.1.0
opencv_python==4.2.0.34
tensorflow
