<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
	<meta charset="UTF-8">
  <!-- Primary Meta Tags -->
  <title>OSINTsploit</title>
  <meta name="title" content="OSINTsploit - Comprehensive Full-Fledged Online Open Source Intelligence Gathering Tool ">
  <meta name="description" content="A Security Assessment Suite that uses Open Source Intelligence (OSINT) for performing Target Reconnaissance and Self Assessment">
  <meta name="keywords" content="OSINT, Open Source Intelligence, Information Gathering"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://osint.studio/">
  <meta property="og:title" content="OSINTsploit - Comprehensive Full-Fledged Online Open Source Intelligence Gathering Tool ">
  <meta property="og:description" content="A Security Assessment Suite that uses Open Source Intelligence (OSINT) for performing Target Reconnaissance and Self Assessment">
  <meta property="og:image" content="https://osint.studio/static/images/favicon.ico"/>
  <meta property="og:site_name" content="osint.studio"/>

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://osint.studio/">
  <meta property="twitter:title" content="OSINTsploit - Comprehensive Full-Fledged Online Open Source Intelligence Gathering Tool ">
  <meta property="twitter:description" content="A Security Assessment Suite that uses Open Source Intelligence (OSINT) for performing Target Reconnaissance and Self Assessment">
  <meta property="twitter:image" content="https://osint.studio/static/images/favicon.ico">

  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
  <link rel="stylesheet" href="{% static 'css/particles.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.5/lib/darkmode-js.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />

  {% if export != True %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <!-- Zendesk Widget script -->
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=f642aa72-15e3-456f-83bb-9c9084f7af49"> </script>
  {% endif %}
</head>
<body>
  <!-- <div class="g-recaptcha" data-sitekey="6Leh06QZAAAAAGp1BiZpVO4diRaSFtUvibwJm2-T"></div>
  <input type="hidden" id="recaptcha" name="g-recaptcha-response" /> -->

  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark" style="z-index:1000">
  <a class="navbar-brand" href="/">
    <img src="{% static 'images/osintsploit-banner.png' %}" width="130" height="20" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="modules">Modules <span class="sr-only"></span></a>
      </li>
      </ul>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="tracker">Tracker <span class="sr-only"></span></a>
      </li>
      </ul>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="documentation" target="_blank">Documentation <span class="sr-only"></span></a>
      </li>
      </ul>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="settings">Settings<span class="sr-only"></span></a>
      </li>

       <li class="nav-item active">
        <a class="nav-link" href="logout">Logout <span class="sr-only"></span></a>
      </li>
    </ul>

    <form name="searchform" method="POST" action="/" > {% csrf_token %}
      <div class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" name="search" id="search" placeholder="Search">
        <input class="btn btn-outline-success my-2 my-sm-0" id="searchsubmit" value="Search" type="submit">
      </div>
    </form>
  </div>
</nav>
  <!-- Particles JS
  <div id="particles-js"></div>
  <script src='https://cldup.com/S6Ptkwu_qA.js'></script><script src="{% static 'js/particles.js' %}"></script>
  -->
  <div class="container">
  {% if request.user.is_authenticated %}
   
	{% block content %}
  {% endblock  %}
    {% else %}
    <meta http-equiv="REFRESH" content="0;url=login">

    {% endif %}
  </div>

  </body>
</html>

