{% extends "base.html" %} {% block content %}

{% if search %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript">

	$(document).ready(function () {
		// Handler for .ready() called.
		$('html, body').animate({
			scrollTop: $('#{{search}}').offset().top
		}, 400);
	});

	</script>
{% endif %}
<div class="container">
<br><br>
<div class="card text-center">
  <div class="card-header">
    Bureau of Police Research & Development
  </div>
  <div class="card-body">
    <h5 class="card-title">TASC Documentation</h5>
    <p class="card-text"><b>TASC (Threat Analysis & Surveillance Cell)</b> is a Comprehensive tool which can perform OSINT, Metadata Analysis, Reverse image search and much more</p>
  </div>

  <hr style="border-top: 3px solid #353b48">

   <div class="card-body" id="phonenumber">
    <u><h5 class="card-title" align="left">Phone Number</h5></u>
    <p class="card-text" align="left"><strong>Syntax : </strong>phone:number</p>
    <p class="card-text" align="left"><strong>Features : </strong></p>
    <div class="card-text" align="left" style = "margin-left: 25px;">
      <span>
        <ul style="display: inline-block;">
            <li>Subscribe Status</li>
            <li>State</li>
            <li>Country</li>
            <li>IMSI</li>
            <li>MCC MNC</li>
        </ul>

        <ul style="display: inline-block;">
            <li>Ported</li>
            <li>Original Network</li>
            <li>Ported Network</li>
            <li>Roaming</li>
            <li>Roaming Country</li>
        </ul>
      <span>
    </div>
  </div>

  <hr>

   <div class="card-body" id="torrent">
    <u><h5 class="card-title" align="left">Torrent Download Tracker</h5></u>
    <p class="card-text" align="left"><strong>Syntax : </strong>ip:address</p>
    <p class="card-text" align="left"><strong>Features : </strong></p>
    <div class="card-text" align="left" style = "margin-left: 25px;">
    <p>Downloaded Files</p>  
      <span>
        <ul style="display: inline-block;">
            <li>Title</li>
            <li>Category</li>
            <li>Size</li>
            <li>Date</li>
        </ul>
      <span>
    </div>
  </div>

  <hr>

   <div class="card-body" id="ip">
    <u><h5 class="card-title" align="left">IP Analysis</h5></u>
    <p class="card-text" align="left"><strong>Syntax : </strong>ip:address</p>
    <p class="card-text" align="left"><strong>Features : </strong></p>
    <div class="card-text" align="left" style = "margin-left: 25px;">
      <span>
        <ul style="display: inline-block;">
            <li>City</li>
            <li>State</li>
            <li>Country</li>
            <li>Proxy / VPN / TOR relay</li>
            <li>Proxy Type</li>
            <li>ISP</li>
        </ul>

        <ul style="display: inline-block;">
            <li>Domain</li>
            <li>Usage Type</li>
            <li>ASN</li>
            <li>Comain Name</li>
            <li>Latitude</li>
            <li>Longitude</li>
        </ul>
      <span>
    </div>
  </div>

  <hr>

   <div class="card-body" id="username">
    <u><h5 class="card-title" align="left">Username Enumeration</h5></u>
    <p class="card-text" align="left"><strong>Syntax : </strong><br>social:username<br>facebook:username<br>instagram:username<br>twitter:username</p>
    <p class="card-text" align="left"><strong>Features : </strong></p>
    <div class="card-text" align="left" style = "margin-left: 25px;">
      <span>
        <ul style="display: inline-block;">
            <li>Name</li>
            <li>Username</li>
            <li>Work</li>
            <li>Education</li>
            <li>Current Location & Home Town</li>
        </ul>

        <ul style="display: inline-block;">
            <li>Tweets and Posts</li>
            <li>Profile Picture</li>
            <li>Url</li>
            <li>Posts Location</li>
            <li>Following & Followers Count</li>
        </ul>
      <span>
    </div>
  </div>

  <div class="card-footer text-muted">
    Stuxnoid
  </div>
</div>

</div>
{% endblock %}