{% extends "base.html" %} {% block content %}

<div class="container">
<br><br>
<div class="card text-center">
  <div class="card-header">
    BPRD
  </div>
  <div class="card-body">
    <h5 class="card-title">TASC Documentation</h5>
    <p class="card-text">TASC is a Comprehensive tool which can perform OSINT, Metadata Analysis, Reverse image search and much more</p>
    <a href="#" class="btn btn-primary">Learn More</a>
  </div>
  <div class="card-footer text-muted">
    Stuxnoid
  </div>
</div>

</div>

{% endblock %}