{% extends "base.html" %} {% block content %}
{% if request.user.profile.darkmode %}

  <script>
    var options = {
    bottom: '64px', // default: '32px'
    right: 'unset', // default: '32px'
    left: '32px', // default: 'unset'
    time: '0.5s', // default: '0.3s'
    mixColor: '#fff', // default: '#fff'
    backgroundColor: '#fff',  // default: '#fff'
    buttonColorDark: '#100f2c',  // default: '#100f2c'
    buttonColorLight: '#fff', // default: '#fff'
    saveInCookies: true, // default: true,
    label: '🌓', // default: ''
    autoMatchOsTheme: true // default: true
  }
  const darkmode = new Darkmode(options);
  </script>

<style>
  .card {
  background-color: #111111;
}
  .card-header {
  color: white;
}

.card-body p {
  color: white;
}

.card-body pre {
    color: white;
}

.card-title {
  color: white;
}

</style>

  {% endif %}
<br>
<script>
function settype(type){
  document.getElementById('type').value=type;
  document.getElementById('search_export').submit();
}
</script>

{% if export != True %}
  <div class="dropdown" align="right">
    <form name="search_export" id="search_export" method="POST" action="/"> {% csrf_token %}
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Export as
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a role="button" class="dropdown-item" href="javascript:void(0);" onclick="settype('JSON')">JSON</a></li>
        <li><a role="button" class="dropdown-item" href="javascript:void(0);" onclick="settype('PDF')">PDF</a></li>
        <input hidden id="type" name="type" value=""></input>
        <input hidden id="data" name="data" value=""></input>
      </ul>
    </form>
  </div>
{% else %}
<div class="jumbotron">
  <div class="container text-center">
    <img src="http://127.0.0.1:8000/static/images/logo.png" alt="Logo" width="150px" height="100%" style="position:relative" />
    <h1>OSINTsploit</h1>   
    <p>Search Report Export</p>
  </div>
</div>
{% endif %}
<br>
<center>
{% if webosint %}
<div class="card text-center">
    <div class="card-header">
      WEBOSINT
    </div>
    <div class="card-body">
        {% if webosint.Error %}
        <p class="card-text" align="left" style = "margin-left: 60px;"><strong>Error: </strong> {{webosint.Error}}</p>
        {% else %}
        <p class="card-text" align="center"><strong>WHO IS</strong></p>
        {% for key,value in webosint.Whois.items %}
          <p class="card-text" align="left" style = "margin-left: 60px;"><strong>{{key}}: </strong> {{value}}</p>
        {% endfor %}

        <p class="card-text" align="center"><strong>DOMAIN RECON</strong></p>
        {% for key,value in webosint.DomainRecon.items %}
          {% if key == "DomainRecord" %}
            {% if value.IP %}
              {% for ip in value.IP %}
                <p class="card-text" align="left" style = "margin-left: 25px;"><strong>IP</strong></p>
                {% for key1,value1 in ip.items %}
                  <p class="card-text" align="left" style = "margin-left: 60px;"><strong>{{key1}}:</strong> {{value1}}</p>
                {% endfor %}
                <br>
              {% endfor %}
            {% endif %}

            {% if value.Mxrecord %}
             <p class="card-text" align="left" style = "margin-left: 25px;"><strong>Mxrecord</strong></p>
              {% for key1,value1 in value.Mxrecord.items %}
                <p class="card-text" align="left" style = "margin-left: 60px;"><strong></strong> {{value1}}</p>
              {% endfor %}
              <br>
             {% endif %}

            {% if value.Cname %}
             <p class="card-text" align="left" style = "margin-left: 25px;"><strong>CMS</strong></p>
              {% for key1,value1 in value.Cname.items %}
                <p class="card-text" align="left" style = "margin-left: 60px;"><strong></strong> {{value1}}</p>
              {% endfor %}
              <br>
            {% endif %}
          
          {% elif key == "Header" and webosint.DomainRecon.Header != None %}
            <p class="card-text" align="left" style = "margin-left: 25px;"><strong>HEADER</strong></p>
              {% for key1,value1 in webosint.DomainRecon.Header.items %}
                <p class="card-text" align="left" style = "margin-left: 60px;"><strong>{{key1}}:</strong> {{value1}}</p>
              {% endfor %}
          {% else %}
            <p class="card-text" align="left" style = "margin-left: 25px;"><strong>{{key}}:</strong> {{value}}</p>
          {% endif %}
        {% endfor %}

        <p class="card-text" align="center"><strong>NSLOOKUP</strong></p>
        {% for ns in webosint.Nslookup %}
          <p class="card-text" align="left" style = "margin-left: 25px;"> {{ns}}</p>
        {% endfor %}

        <p class="card-text" align="center"><strong>SUBDOMAINS</strong></p>
        {% for sub in webosint.Subdomains %}
          <p class="card-text" align="left" style = "margin-left: 25px;"> {{sub}}</p>
        {% endfor %}

        <p class="card-text" align="center"><strong>CMS</strong></p>
        {% for keys,values in webosint.CMS.items %}
          <p class="card-text" align="left" style = "margin-left: 25px;"><strongs>{{keys}} : </strongs>{{values}}</p>
        {% endfor %}

        <p class="card-text" align="center"><strong>DOMAIN Map</strong></p>
        <div id='map'>
          <img src="{{webosint.Domain_Map}}" alt="Domain Map" width="100%" height="100%"/>
        </div>
        {% endif %}
    </div>
</div><br>
<script>document.getElementById('data').value+="'webosint':{{webosint|safe}}"+","</script>
{% endif %}

{% if portscan %}
<div class="card text-center">
    <div class="card-header">
      Default Port Scan
    </div>
  <div class="card-body">
    {% for key,value in portscan.items %}
      {% if key == "hostnames"%}
        <p class="card-text" align="left"><strong>Hostnames :</strong></p>
        {% for host in portscan.hostnames %}
            <p class="card-text" align="left" style = "margin-left: 25px;"> {{host.name}}</p>
        {% endfor %}
      {% elif key == "Ports" and value != None  %}
        {% for key1,value1 in value.items %}
            <p class="card-text" align="left"><strong>Port : {{key1}}</strong></p>
              {% for key2,value2 in value1.items %}
                <p class="card-text" align="left" style = "margin-left: 25px;"><strong>{{key2}} : </strong>{{value2}}</p>
              {% endfor %}
              <br>
        {% endfor %}
      {% else %}
        <p class="card-text" align="left" style = "margin-left: 25px;" ><strong>{{key}} : </strong>{{value.ipv4}}</p>
      {% endif %}  
    {% endfor %}
  </div>
</div><br>
<script>document.getElementById('data').value+="'portscan':{{portscan|safe}}"+","</script>
{% endif %}

</center>

{% endblock %}
