{% extends "base.html" %} {% block content %}

<br>
<center>
{% if webosint %}
<div class="card text-center">
    <div class="card-header">
      WEBOSINT
    </div>
    <div class="card-body">
    {% for key,values in webosint.items%}
      <p class="card-text" align="left"><strong>{{key}} : </strong></p>
      {% if values.items %}
          {% for key1,value1 in values.items %}
            <p class="card-text" align="left"><strong>{{key1}} : </strong></p>
            {% if value1.items%}
              {% for key2,value2 in value1.items %}
                <p class="card-text" align="left"><strong>{{key2}} : </strong></p>
                {% if value2.items%}
                  {% for key3,value3 in value2.items %}
                   <p class="card-text" align="left"><strong>{{key3}} : </strong></p>
                    <p class="card-text" align="left" style = "margin-left: 25px;">{{value3}}</p>
                  {% endfor %}
                {% else %}
                    <p class="card-text" align="left" style = "margin-left: 25px;">{{value2}}</p>
                {% endif %}
              {% endfor %}
            {% else %}
              <p class="card-text" align="left" style = "margin-left: 25px;">{{value1}}</p>
            {% endif %}
            {% endfor %}
        {% else %}
        <p class="card-text" align="left" style = "margin-left: 25px;">{{values}}</p>
        <br>
      {% endif %}
    <br>
    {% endfor %}
    </div>
</div><br>
{% endif %}
<div class="card text-center">
<div class="card-footer text-muted">
  <strong>OSINTsploit</strong>
</div>
</div>

</center>

{% endblock %}
