<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Google Maps - pygmaps </title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false&key=AIzaSyBnIrhidN5aiBFBVK9kgPDrISe0_MePQpw"></script>
<script type="text/javascript">
	function initialize() {
		var centerlatlng = new google.maps.LatLng(20.593700, 78.962900);
		var myOptions = {
			zoom: 5,
			center: centerlatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

var coords = [
new google.maps.LatLng(11.000449, 76.966667),
new google.maps.LatLng(11.000442, 76.966588),
new google.maps.LatLng(11.000422, 76.966511),
new google.maps.LatLng(11.000389, 76.966438),
new google.maps.LatLng(11.000344, 76.966373),
new google.maps.LatLng(11.000289, 76.966317),
new google.maps.LatLng(11.000225, 76.966271),
new google.maps.LatLng(11.000154, 76.966237),
new google.maps.LatLng(11.000078, 76.966216),
new google.maps.LatLng(11.000000, 76.966209),
new google.maps.LatLng(10.999922, 76.966216),
new google.maps.LatLng(10.999846, 76.966237),
new google.maps.LatLng(10.999775, 76.966271),
new google.maps.LatLng(10.999711, 76.966317),
new google.maps.LatLng(10.999656, 76.966373),
new google.maps.LatLng(10.999611, 76.966438),
new google.maps.LatLng(10.999578, 76.966511),
new google.maps.LatLng(10.999558, 76.966588),
new google.maps.LatLng(10.999551, 76.966667),
new google.maps.LatLng(10.999558, 76.966746),
new google.maps.LatLng(10.999578, 76.966823),
new google.maps.LatLng(10.999611, 76.966896),
new google.maps.LatLng(10.999656, 76.966961),
new google.maps.LatLng(10.999711, 76.967017),
new google.maps.LatLng(10.999775, 76.967063),
new google.maps.LatLng(10.999846, 76.967097),
new google.maps.LatLng(10.999922, 76.967118),
new google.maps.LatLng(11.000000, 76.967125),
new google.maps.LatLng(11.000078, 76.967118),
new google.maps.LatLng(11.000154, 76.967097),
new google.maps.LatLng(11.000225, 76.967063),
new google.maps.LatLng(11.000289, 76.967017),
new google.maps.LatLng(11.000344, 76.966961),
new google.maps.LatLng(11.000389, 76.966896),
new google.maps.LatLng(11.000422, 76.966823),
new google.maps.LatLng(11.000442, 76.966746),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#FF0000",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#FF0000",
strokeOpacity: 1.000000,
strokeWeight: 1
});

polygon.setMap(map);


var heatmap_points = [
new google.maps.LatLng(11.000000, 76.966667),
];

var pointArray = new google.maps.MVCArray(heatmap_points);
var heatmap;
heatmap = new google.maps.visualization.HeatmapLayer({

data: pointArray
});
heatmap.setMap(map);
heatmap.set('threshold', 10);
heatmap.set('radius', 10);
heatmap.set('opacity', 0.600000);
heatmap.set('dissipating', true);
	}
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
	<div id="map_canvas" style="width: 100%; height: 100%;"></div>
</body>
</html>
