
{% extends "base.html" %}

{% load static %}

{% block content %}

{% if request.user.profile.darkmode %}

  <script>
    var options = { 
    bottom: '64px', // default: '32px'
    right: 'unset', // default: '32px'
    left: '32px', // default: 'unset'
    time: '0.5s', // default: '0.3s'
    mixColor: '#fff', // default: '#fff'
    backgroundColor: '#fff',  // default: '#fff'
    buttonColorDark: '#100f2c',  // default: '#100f2c'
    buttonColorLight: '#fff', // default: '#fff'
    saveInCookies: true, // default: true,
    label: '🌓', // default: ''
    autoMatchOsTheme: true // default: true
  }
  const darkmode = new Darkmode(options);
  </script>

  {% endif %}
    <script src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tasc-search.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <br>
    <div class="toast" id="toast" style="position: absolute; top: 200; right: 10px;" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-delay="5000">
      <div class="toast-header">
        <strong class="mr-auto text-danger" ><i class="fas fa-exclamation-triangle"></i>&nbsp Oops! Error </strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="error-msg" class="toast-body text-secondary">
      Query you have entered is invalid or incorrect.
      </div>
    </div>
  <br> 
  <script>
    function onSubmit(token) {
      document.getElementById("g-recaptcha-token").value=token;
      //alert(document.getElementById("g-recaptcha-response").value);
      if(validation()==true){
        document.submitForm.submit();
        loader();
      }
    }
  </script>
<script src="https://www.google.com/recaptcha/api.js?render=6LdcXqUZAAAAAP7lK_k0muU99TX9UTnXZJh-VmVw"></script>
<div class="text-center">
  <br>
  <br>
      <img class="img-fluid" src="{% static 'images/osintsploit-banner.png' %}" width="400px" style="z-index:1000">
   <br><br>
  </div>
    <script>
    function setquery(query){
      document.getElementById("query").placeholder=query;
      document.getElementById("dropdownMenuButton").innerHTML=query;
    }
    </script>
    <div class="container col-md-6 h-100" style="z-index:1000">
      <div class="d-flex justify-content-center h-100">
        <form id="submitForm" name="submitForm" method="POST" onSubmit="validation();"> {% csrf_token %} <!-- -->
          <div class="dropdown">
          <div class="searchbar">
          <input class="search_input" type="text" name="query" id="query" placeholder="Enter Suspect Details" value="">
          
            <button class="btn btn-secondary dropdown-toggle search_icon" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-flip='false'>Query</button>
              <div class="dropdown-menu multi-column columns-2" id="querymenu" data-dropup-auto="false" aria-labelledby="dropdownMenuButton">
                <div class="row">
			            <div class="col-sm-6">
                    <div class="multi-column-dropdown">
                <a class="dropdown-item" href="javascript:setquery('social');">Social</a>
                <a class="dropdown-item" href="javascript:setquery('facebook');">Facebook</a>
                <a class="dropdown-item" href="javascript:setquery('instagram');">Instagram</a>
                <a class="dropdown-item" href="javascript:setquery('twitter');">Twitter</a>
                <a class="dropdown-item" href="javascript:setquery('github');">GitHub</a>
                <a class="dropdown-item" href="javascript:setquery('phonenumber');">PhoneNumber</a>
              </div>
              </div>
              <div class="col-sm-6">
                <div class="multi-column-dropdown">
                <a class="dropdown-item" href="javascript:setquery('email');">Email</a>
                <a class="dropdown-item" href="javascript:setquery('ipaddress');">IP Address</a>
                <a class="dropdown-item" href="javascript:setquery('domain');">Domain</a>
                <a class="dropdown-item" href="javascript:setquery('mac');">Mac Address</a>
                <a class="dropdown-item" href="javascript:setquery('btc');">BitCoin</a>
                <a class="dropdown-item" href="javascript:setquery('fbkeyword');">FB Keyword</a>
                <a class="dropdown-item" href="javascript:setquery('vehicle');">Vehicle</a>
                </div>
            </div>
              </div>
              </div>
              
              </div>
          </div>
            <input type="hidden" name="g-recaptcha-response" id="g-recaptcha-token" value="" />
            <button id="recaptcha" class="g-recaptcha" data-sitekey="6LdcXqUZAAAAAP7lK_k0muU99TX9UTnXZJh-VmVw" data-callback='onSubmit' hidden>Submit</button>
      
        <br>
          <center>
            <button type="button" class="btn btn-primary" onclick="javascript:document.getElementById('recaptcha').click();">Scan</button>
          </center>
        </form>
      </div>
    </div>



  <div class="text-center" id="loader" style="display:none"><br>
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>  

      <div class="container h-100">
      <div class="d-flex justify-content-center h-100">
      {% if error %}
      <script>
        document.getElementById("error-msg").innerHTML="{{error}}";
        document.getElementById("toast").style.zIndex="1";
        $('.toast').toast('show');
      </script>
      {% endif %}
    </div>

    <script>
      var input = document.getElementById("query");
      input.addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
         toaster();
         event.preventDefault();
         document.submitForm.submit()
        }
      });
      </script>

  <div id="particles-js"></div>
  <script src='https://cldup.com/S6Ptkwu_qA.js'></script>
  {% if request.user.profile.darkmode %}
    <script src="{% static 'js/particles.js' %}"></script>
  {% else %}
    <script src="{% static 'js/particles_white.js' %}"></script>
  {% endif %}
{% endblock %}