{% extends "base.html" %}

{% load static %}

{% load extras %}

{% block content %}

    <script src="{% static 'js/index.js' %}"></script>
    
    <!--begin::Dashboard-->
    <!--begin::Row-->
    <div class="row">
        <div class="col-lg-8 col-xxl-8 col-md-4">
            <div class="card card-custom overflow-hidden position-relative mb-8 bg-light-primary card-stretch gutter-b">
                <!--begin::SVG-->
                <div class="position-absolute bottom-0 left-0 right-0 d-none d-lg-flex flex-row-fluid">
										<span class="svg-icon svg-icon-full flex-row-fluid svg-icon-dark opacity-3">
											<!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/bg/home-2-bg.svg-->
											<svg xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1"
                                                 x="0px" y="0px" viewBox="0 0 1200 172"
                                                 style="enable-background:new 0 0 1200 172;" xml:space="preserve">
<path class="st0"
      d="M2058,94c0,0,16-14,73-14s153,92,248,92s286-145,456-145s183,34,292,34s131-54,131-54v172H2058V94z"></path>
<path class="st0" d="M0,87c0,0,16-14,73-14s153,92,248,92S607,20,777,20s183,34,292,34s131-54,131-54v172H0V87z"></path>
</svg>
                                            <!--end::Svg Icon-->
										</span>
                </div>
                <!--end::SVG-->
                <!--begin::Hero Body-->
                <div class="card-body d-flex justify-content-center flex-column col-lg-12 px-8 py-20 px-lg-20 py-lg-40">
                    <!--begin::Heading-->
                    <h1 class="text-dark font-weight-bolder mb-12" style="text-align: center">
                        <img src="{% static 'assets/media/osintsploit7-min.png' %}"
                             alt="OSINT banner" style="width: 400px"/>
                    </h1>
                    <!--end::Heading-->

                    <!-- Button trigger modal -->
                    <button hidden id="trigger" type="button" class="btn btn-primary" data-toggle="modal" data-target="#casemenu"></button>

                    <!-- Modal -->
                    <div class="modal fade" id="casemenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Select the Case</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Case Options
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% for case in cases %}
                                        <a class="dropdown-item" href="javascript: void(0);" onclick="onSubmit('{{case}}');">{{case}}</a>
                                    {% endfor %}
                                    <a class="dropdown-item" href="javascript:void(0);" onclick="onSubmit('null');">New Case</a>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>

                    <!--begin::Form-->
                    <form class="d-flex position-relative w-100" id="submitForm" name="submitForm" action="/"
                          method="POST" onsubmit="javascript: document.getElementById('trigger').click();return false;"> {% csrf_token %}
                        <div class="input-group">
                            <!--begin::Icon-->
                            <div class="input-group-prepend">
                                            <span class="input-group-text bg-white border-0 py-7 px-8">
                                                <span class="svg-icon svg-icon-xl" onclick="document.getElementById('trigger').click();">
                                                    <svg
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            width="24px" height="24px" viewBox="0 0 24 24"
                                                            version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none"
                                                           fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24"></rect>
                                                            <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"
                                                                  fill="#000000" fill-rule="nonzero"
                                                                  opacity="0.3"></path>
                                                            <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"
                                                                  fill="#000000" fill-rule="nonzero"></path>
                                                        </g>
                                                    </svg><!--end::Svg Icon-->
                                                </span>
                                            </span>
                            </div>
                            <input hidden name="query" id="query"/>
                            <input hidden id="cases" value="{{cases}}" />
                            <input type="text" class="form-control h-auto border-0 py-7 px-1 font-size-h6"
                                   name="searchquery" id="searchquery" placeholder="Username, Email, Phone, IP, Domain, MAC, Vehicle, BTC"/>
                            <input type="submit" style="height: 0px; width: 0px; border: none; padding: 0px;"
                                   hidefocus="true"/>
                            <!--end::Input-->
                        </div>
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Hero Body-->
            </div>
        </div>
        <div class="col-lg-4 col-xxl-4 col-md-4">

            <!--begin::List Widget 9-->
            <div class="card card-custom card-stretch gutter-b">
                <!--begin::Header-->
                <div class="card-header align-items-center border-0 mt-4">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="font-weight-bolder text-dark">My Activity</span>
                        <span class="text-muted mt-3 font-weight-bold font-size-sm">{% now "jS F Y H:i" %}</span>
                    </h3>
                    <div class="card-toolbar">
                        <div class="dropdown dropdown-inline">
                            <a href="javascript:ClearActivityConfirmation()" class="btn btn-clean btn-hover-light-primary btn-sm btn-icon">
                                <svg onclick="ClearActivityConfirmation()" name="clearactivity" id="clearactivity"
                                     data-toggle="tooltip" data-placement="top" title=""
                                     data-original-title="Clear Activity" width="2em" height="2em" viewBox="0 0 16 16"
                                     class="bi bi-layers" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M3.188 8L.264 9.559a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882L12.813 8l-1.063.567L14.438 10 8 13.433 1.562 10 4.25 8.567 3.187 8z"/>
                                    <path fill-rule="evenodd"
                                          d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882l7.5-4zM1.563 6L8 9.433 14.438 6 8 2.567 1.562 6z"/>
                                </svg>
                            </a>
                            <p>Clear</p>
                        </div>
                    </div>
                </div>
                <!--end::Header-->

                <!--begin::Body-->
                <div class="card-body pt-4" id="activitybar" name="activitybar">
                    {% if search_query|length > 0 %}
                        <div class="timeline timeline-5 mt-3">
                            {% for keys,values in search_query.items %}
                                {% for value in values.query %}
                                    <!--begin::Item-->
                                    <div class="timeline-item align-items-start">
                                        <!--begin::Label-->
                                        <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg">
                                            {{ value.3 | dateformat  }}
                                        </div>
                                        <!--end::Label-->

                                        {% if value.1 == 'social' %}

                                            <!--begin::Badge-->
                                            <div class="timeline-badge">
                                                <i class="fa fa-genderless text-success icon-xl"></i>
                                            </div>
                                            <!--end::Badge-->

                                        {% elif value.1 == 'phone' %}

                                            <!--begin::Badge-->
                                            <div class="timeline-badge">
                                                <i class="fa fa-genderless text-danger icon-xl"></i>
                                            </div>
                                            <!--end::Badge-->

                                        {% elif value.1 == 'email' %}

                                            <!--begin::Badge-->
                                            <div class="timeline-badge">
                                                <i class="fa fa-genderless text-warning icon-xl"></i>
                                            </div>
                                            <!--end::Badge-->

                                        {% elif value.1 == 'ip' %}

                                            <!--begin::Badge-->
                                            <div class="timeline-badge">
                                                <i class="fa fa-genderless text-info icon-xl"></i>
                                            </div>
                                            <!--end::Badge-->

                                        {% elif value.1 == 'mac' %}

                                            <!--begin::Badge-->
                                            <div class="timeline-badge">
                                                <i class="fa fa-genderless text-warning icon-xl"></i>
                                            </div>
                                            <!--end::Badge-->

                                        {% elif value.1 == 'vehicle' %}

                                            <!--begin::Badge-->
                                            <div class="timeline-badge">
                                                <i class="fa fa-genderless text-danger icon-xl"></i>
                                            </div>
                                            <!--end::Badge-->

                                        {% elif value.1 == 'domain' %}

                                            <!--begin::Badge-->
                                            <div class="timeline-badge">
                                                <i class="fa fa-genderless text-success icon-xl"></i>
                                            </div>
                                            <!--end::Badge-->

                                        {% elif value.1 == 'btc' %}

                                            <!--begin::Badge-->
                                            <div class="timeline-badge">
                                                <i class="fa fa-genderless text-danger icon-xl"></i>
                                            </div>
                                            <!--end::Badge-->

                                        {% elif value.1 == 'fbsearch' %}

                                            <!--begin::Badge-->
                                            <div class="timeline-badge">
                                                <i class="fa fa-genderless text-warning icon-xl"></i>
                                            </div>
                                            <!--end::Badge-->

                                        {% endif %}


                                        <!--begin::Text-->
                                        <div class="font-weight-bolder text-dark-75 pl-3 font-size-lg">
                                            <a href="#" class="text-primary">{{ value.1 }} - {{ values.casename }} </a>
                                            <br><span class="text-muted" >Executed By {{ value.0}} </span>
                                        </div>

                                        <!--end::Text-->
                                    </div>
                                    <!--end::Item-->
                                {% endfor %}
                            {% endfor %}
                        </div>
                        <!--end: Items-->
                    {% else %}
                        <p class="text-muted text-center">No Activity</p>
                    {% endif %}
                </div>
                <!--end: Card Body-->
            </div>
            <!--end: Card-->
            <!--end: List Widget 9-->
        </div>
    </div>
    <!--end::Row-->

    <!--end::Dashboard-->

{% endblock %}