{% extends "base.html" %} 

{% load static %}

{% block content %}

{% if request.user.profile.darkmode %}

  <script>
    var options = {
    bottom: '64px', // default: '32px'
    right: 'unset', // default: '32px'
    left: '32px', // default: 'unset'
    time: '0.5s', // default: '0.3s'
    mixColor: '#fff', // default: '#fff'
    backgroundColor: '#fff',  // default: '#fff'
    buttonColorDark: '#100f2c',  // default: '#100f2c'
    buttonColorLight: '#fff', // default: '#fff'
    saveInCookies: true, // default: true,
    label: '🌓', // default: ''
    autoMatchOsTheme: true // default: true
  }
  const darkmode = new Darkmode(options);
  </script>

<style>
    .card {
    background-color: #111111;
}
    .modal {
      color: #000;
    }

    .card-header {
    color: white;
}

  .card-body p {
    color: white;
}
.card-body pre {
    color: white;
}

  .card-body pre {
      color: white;
}

.card-title {
  color: white;
}

  </style>
</style>

  {% endif %}

  
<br><br>
<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    {% if Error %}
      <div class="alert alert-danger alert-dismissible col-md-6" id="danger1-alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <center><strong>ERROR : </strong>{{Error}}</center>
      </div>
      <script>
        $("#danger1-alert").fadeTo(2000, 500).slideUp(500, function(){
        $("#danger1-alert").slideUp(500);
      });
      </script>
    {% endif %}
</div></div>

<div class="container">
<br><br>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Reverse Image Search</h5>
        <p class="card-text">Select an image and Search the billions of photos available around the web for similarity</p>

                <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
          Search
        </button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Reverse Image Search</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="reverseImg" action="modules" method="post" enctype="multipart/form-data" target="_blank">{% csrf_token %}
        <div class="modal-body">
          <input id="input-b2" name="input-b2" type="file" class="file" data-show-preview="false">          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Search" />
        </div>
      </form>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>


  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Metadata Extraction</h5>
        <p class="card-text">Extract the metadata like geolocation embedded into various image file formats</p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#MetaModalCenter">
        Execute
        </button>

<!-- Modal -->
<div class="modal fade" id="MetaModalCenter" tabindex="-1" role="dialog" aria-labelledby="MetaModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="MetaModalCenterTitle">Metadata Extractor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="MetdaData" action="modules" method="post" enctype="multipart/form-data">{% csrf_token %}
      <div class="modal-body">

        <input id="metaimage" name="metaimage" type="file" class="file" data-show-preview="false">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Extract</button>
      </div>
      </form>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
</div>

<br><br>
<script src="{% static 'js/index.js' %}"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6LdcXqUZAAAAAP7lK_k0muU99TX9UTnXZJh-VmVw"></script>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cluster 3D Data Visualization</h5>
        <p class="card-text">Simultaneously Many queries are run through and Made a 3D Graph with help of D3</p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ClusterModalCenter">
        Search
        </button>

          <script>
            function onSubmit(token) {
              document.getElementById("g-recaptcha-token").value=token;
              //alert(document.getElementById("g-recaptcha-response").value);
              if(validation()==true){
                document.getElementById("Clusterdata").submit();
              }
            }
          </script>

      <div class="modal fade" id="ClusterModalCenter" tabindex="-1" role="dialog" aria-labelledby="MetaModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="MetaModalCenterTitle">Cluster 3D Data Visualization</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form name="Clusterdata" id="Clusterdata" action="/" method="POST" >{% csrf_token %}
              <div class="modal-body">
                <p class="text-muted" style="color:black;">Input : facebook=username,phone=+91****,email=abc@gmail.com</p>
                <input hidden name="query" id="query">
                <input class="form-control" name="searchquery" id="searchquery" type="text" placeholder="cluster">
                <input type="hidden" name="g-recaptcha-response" id="g-recaptcha-token" value="" />
                <button id="recaptcha" class="g-recaptcha" data-sitekey="6LdcXqUZAAAAAP7lK_k0muU99TX9UTnXZJh-VmVw" data-callback='onSubmit' hidden>Submit</button>
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="javascript:document.getElementById('recaptcha').click();">Search</button>
            </div>
            </form>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">IP Heatmap</h5>
        <p class="card-text">Create a Heatmap and identify the conection between multiple IP addresses</p>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1">
          Execute
        </button>


        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">IP Heatmap</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <form name="Heatmap" action="modules" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="modal-body">
                  <input id="input-b1" name="input-b1" type="file" class="file" data-show-preview="false">
                    {% if Error %}
                    <div class="alert alert-danger alert-dismissible" id="danger-alert1">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                      <strong>ERROR:</strong>{{Error}}
                    </div>

                    <script>
                      $("#danger-alert").fadeTo(2000, 500).slideUp(500, function(){
                      $("#danger-alert").slideUp(500);
                    });
                    </script>
                  {% endif %}

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary" value="Search" />
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



</div>

{% endblock %}
