return output{% extends "base.html" %} {% block content %}

<div class="container">
<br><br>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Reverse Image Search</h5>
        <p class="card-text">Select an image and Search the billions of photos available around the web for similarity</p>

                <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
          Search
        </button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Reverse Image Search</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="reverseImg" action="modules" method="post" enctype="multipart/form-data" target="_blank">{% csrf_token %}
        <div class="modal-body">
          <input id="input-b2" name="input-b2" type="file" class="file" data-show-preview="false">

          {% if Error %}
            <div class="alert alert-danger alert-dismissible" id="danger-alert">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>ERROR:</strong>{{Error}}
            </div>

            <script>
              $("#danger-alert").fadeTo(2000, 500).slideUp(500, function(){
              $("#danger-alert").slideUp(500);
            });
            </script>
          {% endif %}
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Search" />
        </div>
      </form>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>


  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Metadata Extraction</h5>
        <p class="card-text">Extract the metadata like geolocation embedded into various image file formats</p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#MetaModalCenter">
        Execute
      </button>

<!-- Modal -->
<div class="modal fade" id="MetaModalCenter" tabindex="-1" role="dialog" aria-labelledby="MetaModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="MetaModalCenterTitle">Metadata Extractor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="MetdaData" action="modules" method="post" enctype="multipart/form-data">{% csrf_token %}
      <div class="modal-body">

        <input id="metaimage" name="metaimage" type="file" class="file" data-show-preview="false">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Extract</button>
      </div>
      </form>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
</div>

<br><br>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">MAC Lookup</h5>
        <p class="card-text">Indentify the Manufacturer name and address of a suspected device with MAC Address</p>
        <a href="#" class="btn btn-primary">Execute</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">IP Heatmap</h5>
        <p class="card-text">Create a Heatmap and identify the conection between multiple IP addresses</p>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1">
          Execute
        </button>


        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">IP Heatmap</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <form name="Heatmap" action="modules" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="modal-body">
                  <input id="input-b1" name="input-b1" type="file" class="file" data-show-preview="false">
                    {% if Error %}
                    <div class="alert alert-danger alert-dismissible" id="danger-alert1">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                      <strong>ERROR:</strong>{{Error}}
                    </div>

                    <script>
                      $("#danger-alert").fadeTo(2000, 500).slideUp(500, function(){
                      $("#danger-alert").slideUp(500);
                    });
                    </script>
                  {% endif %}

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <input type="submit" class="btn btn-primary" value="Search" />
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



</div>

{% endblock %}
