{% extends "base.html" %}
{% block content %}
<style>
  body, html {
    background-image: linear-gradient(rgb(128, 210, 245), rgb(248, 188, 148));
}
</style>

{% if request.user.profile.darkmode %}

<script>
  var options = {
  bottom: '64px', // default: '32px'
  right: 'unset', // default: '32px'
  left: '32px', // default: 'unset'
  time: '0.5s', // default: '0.3s'
  mixColor: '#fff', // default: '#fff'
  backgroundColor: '#fff',  // default: '#fff'
  buttonColorDark: '#100f2c',  // default: '#100f2c'
  buttonColorLight: '#fff', // default: '#fff'
  saveInCookies: true, // default: true,
  label: '🌓', // default: ''
  autoMatchOsTheme: true // default: true
}
const darkmode = new Darkmode(options);
darkmode.showWidget();
</script>

{% else %}

<script>
  var options = {
  bottom: '64px', // default: '32px'
  right: 'unset', // default: '32px'
  left: '32px', // default: 'unset'
  time: '0.5s', // default: '0.3s'
  mixColor: '#fff', // default: '#fff'
  backgroundColor: '#fff',  // default: '#fff'
  buttonColorDark: '#100f2c',  // default: '#100f2c'
  buttonColorLight: '#fff', // default: '#fff'
  saveInCookies: true, // default: true,
  label: '🌓', // default: ''
  autoMatchOsTheme: true // default: true
}
const darkmode = new Darkmode(options);
darkmode.showWidget();
</script>

{% endif %}

<br><br>
<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    {% if Error %}
      <div class="alert alert-danger alert-dismissible col-md-6" id="danger1-alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <center><strong>ERROR : </strong>{{Error}}</center>
      </div>
      <script>
        $("#danger1-alert").fadeTo(2000, 500).slideUp(500, function(){
        $("#danger1-alert").slideUp(500);
      });
      </script>
    {% endif %}
</div></div>



<form action="settings" method="POST" enctype="multipart/form-data" >  {% csrf_token %}
<div>
  <div style="float:left">
      <label for="importjson">Import JSON</label>
      <input type="file" name="importjson" class="form-control-file" id="importjson">
  </div>
    
  <input type="hidden" value="" name="darkmode" id="darkmode" />
  <script>
    function dark()
    {
    var input = document.getElementById("darkmode");
    input.value = darkmode.isActivated()
    console.log(document.getElementById("darkmode").value)
    }
  </script>

  <div class="" style="float:right">
    <input type="submit" name="exportjson" class="btn btn-sm btn-primary" value="Export JSON"></input>
  </div>
</div>


<div class="container" style="position: static;">
<br><br><br><hr>
  <div class="form-group row">
      <label for="username" class="card-text w-25">Username</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="username" name="username" value="{{ user.get_username }}" readonly>
      </div>
  </div>

  <div class="form-group row">
    <label for="HIBPkey" class="card-text w-25">HaveIBeenPwned</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="hibpkey" name="hibpkey" value="{{ user.profile.hibpkey }}" placeholder="Paste your Have I Been Pwned Key">
      </div>
  </div>

  <div class="form-group row">
    <label for="hunterkey" class="card-text w-25">Hunter.io</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="hunterkey" name="hunterkey" value="{{ user.profile.hunterkey }}" placeholder="Paste your Hunter.io API Key">
      </div>
  </div>

  <div class="form-group row">
    <label for="HLRlookup" class="card-text w-25">HLR Lookup</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="hlrlookupkey" name="hlrlookupkey" value="{{ user.profile.hlrlookupkey }}" placeholder="Paste your HLR-Lookup.com Key">
      </div>
  </div>

  <div class="form-group row">
    <label for="IPstackKey" class="card-text w-25">IP Stack</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="ipstackkey" name="ipstackkey" value="{{ user.profile.ipstackkey }}" placeholder="Paste your IPstack.com key">
      </div>
  </div>

  <div class="form-group row">
    <label for="VirusKey" class="card-text w-25">Virus Total</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="virustotalkey" name="virustotalkey" value="{{ user.profile.virustotalkey }}" placeholder="Paste your Virustotal key">
      </div>
  </div>

  <div class="form-group row">
    <label for="ShodanKey" class="card-text w-25">Shodan Key</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="shodankey" name="shodankey" value="{{ user.profile.shodankey }}" placeholder="Paste your Shodan key">
      </div>
  </div>

  <div class="form-group row">
    <label for="GoogleKey" class="card-text w-25">Google Maps</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="googlemapapikey" name="googlemapapikey" value="{{ user.profile.googlemapapikey }}" placeholder="Paste your Google Maps key">
      </div>
  </div>

  <div class="form-group row">
    <label for="MACKey" class="card-text w-25">MAC Lookup</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="macapikey" name="macapikey" value="{{ user.profile.macapikey }}" placeholder="Paste your Mac Lookup key">
      </div>
  </div>

  <div class="form-group row">
    <label for="EmailRepKey" class="card-text w-25">EmailRep Key</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="emailrepkey" name="emailrepkey" value="{{ user.profile.emailrepkey }}" placeholder="Paste your EmailRep key">
      </div>
  </div>
  <hr>
  <strong> Facebook Session Cookies </strong>
<br><br>
  <div class="form-group row">
    <label for="c_user" class="card-text w-25">c_user Cookie</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="c_user" name="c_user" value="{{ user.profile.c_user }}" placeholder="Paste your c_user Cookie Value">
      </div>
  </div>

  <div class="form-group row">
    <label for="xs" class="card-text w-25">xs Cookie</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="xs" name="xs" value="{{ user.profile.xs }}" placeholder="Paste your xs Cookie Value">
      </div>
  </div>

  <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" onclick="dark()" class="btn btn-primary">Save</button>
      </div>
  </div>
</form>

</div><br><br>

{% endblock %}