<!--begin::Aside Menu-->
<div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">

    <!--begin::Menu Container-->
    <div
            id="kt_aside_menu"
            class="aside-menu my-4  aside-menu-dropdown "
            data-menu-vertical="1"
            data-menu-dropdown="1" data-menu-scroll="0" data-menu-dropdown-timeout="500">
        <!--begin::Menu Nav-->
        <ul class="menu-nav ">
            <li class="menu-item  menu-item-active" aria-haspopup="true"><a href="/"
                                                                            class="menu-link "><i
                    class="menu-icon flaticon2-analytics-2"></i><span
                    class="menu-text">Dashboard</span></a></li>
            <li class="menu-item  menu-item-submenu"><a
                    href="reports" class="menu-link"><i
                    class="menu-icon flaticon2-browser-2"></i><span class="menu-text">Reports</span></a>
            </li>
             <li class="menu-item  menu-item-submenu"><a
                    href="reports" class="menu-link"><i
                    class="menu-icon flaticon2-wifi"></i><span class="menu-text">Apps</span></a>
            </li>
             <li class="menu-item  menu-item-submenu"><a
                    href="reports" class="menu-link"><i
                    class="menu-icon flaticon2-location"></i><span class="menu-text">Tracker</span></a>
            </li>
             <li class="menu-item  menu-item-submenu"><a
                    href="reports" class="menu-link"><i
                    class="menu-icon flaticon2-console"></i><span class="menu-text">Settings</span></a>
            </li>
        </ul>
        <!--end::Menu Nav-->
    </div>
    <!--end::Menu Container-->
</div>
<!--end::Aside Menu-->