{% extends "base.html" %}

{% load static %}

{% block content %}
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>
  <button type="button" class="" onclick="stop()">stop</button>
  <br><br>
  <div id="chart"></div>
  <script>
    var today = new Date();    
    var graphdata = [{"x":0,"y":0}];
    var options = {
      chart: {
        width: 450,
        height:450,
        type: 'line'
      },
      stroke: {
        curve: 'stepline',
      },
      dataLabels: {
          enabled: false
      },
      series: [],
      title: {
          text: 'Activity Track',
      },
      noData: {
        text: 'Loading...'
      }
    }

  var chart = new ApexCharts(document.getElementById("chart"), options);
  chart.render();


  //websocket
  var status=0;
  var websocket = new WebSocket("wss://zoomerapp.com:2053/");
  websocket.onopen = function(event) {
    websocket.send(JSON.stringify({ "action": "addPhone1", "number": "919486324742" }));
  };

  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }

  websocket.onmessage = async function(event) {
    var data = JSON.parse(event.data);
    if(data.phone.online == false){
      status=0;
    }else{
      status=1;
    }
    
    while(status!=2){
      console.log(status);
      graphdata.push({"x":today.getSeconds(),"y":status});
      chart.updateSeries([{
        name: 'Activity Track',
        data: graphdata
      }]);
      await sleep(5000);
    }
  };

  

  websocket.onclose = function(event){
    //pass
  }
  
  function stop(){
    status=2;
    websocket.close();
    alert("closed");
  }
  </script>
{% endblock %}