
    body,html{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background: #ffffff !important;
        }
    
        .searchbar{
        margin-bottom: auto;
        margin-top: auto;
        height: 60px;
        background-color: #353b48;
        border-radius: 30px;
        padding: 10px;
        }
    
        .search_input{
        color: white;
        border: 0;
        outline: 0;
        margin: 3px;
        padding: 3px;
        background: none;
        width: 90%;
        }
    
    
        .search_icon{
        height: 40px;
        width: 40px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: white;
        color: #e74c3c;
        caret-color:red;
        text-decoration:none;
        }