{% extends "base.html" %}

{% load static %}

{% block content %}
    

  <!-- BEGIN PAGE LEVEL STYLES -->
  <link href="{% static 'assets/css/scrollspyNav.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'plugins/file-upload/file-upload-with-preview.min.css' %}" rel="stylesheet" type="text/css" />
  <!-- END PAGE LEVEL STYLES -->

    
<div class="row layout-top-spacing">
        <div id="fuSingleFile" class="col-lg-12 layout-spacing">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="">
                            <h4>&nbsp IP Heatmap</h4>
                        </div>      
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="custom-file-container" data-upload-id="myFirstImage">
                        <form name="heatmap" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <label>Upload File <a href="javascript:void(0)" class="custom-file-container__image-clear" title="Clear Image">x</a></label>
                        <label class="custom-file-container__custom-file" >
                            <input  id="input-b1" name="input-b1" type="file" class="custom-file-container__custom-file__custom-file-input">
                            <input type="hidden" name="MAX_FILE_SIZE" value="10485760" /> <br>
                            <span class="custom-file-container__custom-file__custom-file-control"></span>
                            </label><br><br>                          
                        <center><input type="submit" class="btn btn-primary" value="Search" /> </center>
                        </form>
                    </div>
                </div>
                </div>
                </div>
                </div>

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="{% static 'assets/js/scrollspyNav.js' %}"></script>
    <script src="{% static 'plugins/file-upload/file-upload-with-preview.min.js' %}"></script>
    <script>
        //First upload
        var firstUpload = new FileUploadWithPreview('myFirstImage')
    </script>
    <!-- END PAGE LEVEL PLUGINS -->  

</div>

{% endblock %}
