{% extends "base.html" %}

{% load static %}

{% block content %}
    

  <!-- BEGIN PAGE LEVEL STYLES -->
  <link href="{% static 'assets/css/scrollspyNav.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'plugins/file-upload/file-upload-with-preview.min.css' %}" rel="stylesheet" type="text/css" />
  
  <!-- END PAGE LEVEL STYLES --> 

      <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
      <script src="{% static 'plugins/apex/apexcharts.min.js' %}"></script>
      <script src="{% static 'assets/js/dashboard/dash_2.js' %}"></script>
      <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
   
      
  <div class="row layout-top-spacing">

    {% if GET %}

    <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing"> 

    <div id="fuSingleFile" class="col-lg-12 layout-spacing">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="">
                        <h4>&nbsp Reverse Image Search</h4>
                    </div>      
                </div>
            </div>
            <div class="widget-content widget-content-area">
                <div class="custom-file-container" data-upload-id="myFirstImage">
                    <form name="MetdaData" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <label>Upload Image / PDF <a href="javascript:void(0)" class="custom-file-container__image-clear" title="Clear Image">x</a></label>
                    <label class="custom-file-container__custom-file" >
                        <input id="metaimage" name="metaimage" type="file" class="custom-file-container__custom-file__custom-file-input" accept="image/*,application/pdf">
                        <span class="custom-file-container__custom-file__custom-file-control"></span>
                    </label>
                    <div class="custom-file-container__image-preview"></div>
                    <center><input type="submit" class="btn btn-primary" value="Extract" /> </center>
                    </form>
                </div>
            </div>
            </div>
            </div>
        </div>

        {% elif POST %}


            <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">

            <div class="card text-center border-primary">
                <div class="card-header"><strong>
                Metadata Extraction Results</strong>
                </div>
                <div class="card-body">

                    {% if metadata.Error %}

                    <div class="alert alert-danger" role="alert">
                        The File doesnt contain any metadata.
                        </div>
                
                    {% else %}

                        {% for key,value in metadata.items %}
                            
                            {% if value.items and key != "references_dict" %}
                                    {% for key1,value1 in value.items %}
                                            {% if value1.items %}

                                                {% for key2,value2 in value1.items %}
                                                    <p class="card-text" align="left" style = "margin-left: 25px;"><strong>{{key2}} : </strong> {{value2}}</p>
                                                {% endfor %}
                                                
                                            {% else %}
                                                <p class="card-text" align="left" style = "margin-left: 25px;"><strong>{{key1}} : </strong> {{value1}}</p>
                                            {% endif %}
                                    {% endfor %}
                            {% elif key == "references_dict" %}
                                <p class="card-text" align="left"><strong>{{key}} : </strong></p>
                                    {% for key1,value1 in value.items %}
                                            <p class="card-text" align="left" style = "margin-left: 25px;"><strong>{{key1}}</strong></p>
                                            {% for value2 in value1 %}
                                                <p class="card-text" align="left" style = "margin-left: 50px;">{{value2}}</p>
                                            {% endfor %}
                                    <br>
                                    {% endfor %}
                                
                            {% else %}
                            <p class="card-text" align="left" style = "margin-left: 25px;"><strong>{{key}} : </strong> {{value}}</p>
                            {% endif %}
                        {% endfor %}
                        {% endif %}

        </div> 
            </div>
        </div>

        {% endif %}

        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
            <div class="widget widget-activity-three">

                <div class="widget-heading">
                    <h5 class="">Past Extracts</h5>
                </div>

                <div class="widget-content">

                    <div class="mt-container mx-auto">
                        <div class="timeline-line">
                            
                            <div class="item-timeline timeline-new">
                                <div class="t-dot">
                                    <div class="t-primary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg></div>
                                </div>
                                <div class="t-content">
                                    <div class="t-uppercontent">
                                        <h5>Adithyan.jpg</h5>
                                    </div>
                                    <p><span>11.00 AM</span> 22 July</p>
                                </div>
                            </div>

                            <div class="item-timeline timeline-new">
                                <div class="t-dot">
                                    <div class="t-primary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg></div>
                                </div>
                                <div class="t-content">
                                    <div class="t-uppercontent">
                                        <h5>Bhavsec.jpg</h5>
                                    </div>
                                    <p><span>9.00 AM</span> 20 July</p>
                                </div>
                            </div>

                                                        
                        </div>                                    
                    </div>
                </div>
            </div>
        </div>





        </div> 


 <!-- BEGIN PAGE LEVEL PLUGINS -->
 <script src="{% static 'assets/js/scrollspyNav.js' %}"></script>
 <script src="{% static 'plugins/file-upload/file-upload-with-preview.min.js' %}"></script>

 <script>
     //First upload
     var firstUpload = new FileUploadWithPreview('myFirstImage')
 </script>
 <!-- END PAGE LEVEL PLUGINS -->  

         


{% endblock %}
