{% extends "base.html" %}

{% load static %}

{% block content %}
<script type="text/javascript" src="https://hpneo.dev/gmaps/gmaps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{api}}&callback=initMap"></script>
<script src="https://unpkg.com/deck.gl@^7.0.0/dist.min.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />
      
    <div class="content  d-flex flex-column flex-column-fluid" id="kt_content">

        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class=" container ">
                <!--begin::Dashboard-->
                <!--begin::Row-->
                <div class="row">

        <div class="card card-custom card-stretch gutter-b col-9" style="margin-top:25px">
                <!--begin::Header-->
                <div class="card-header align-items-center border-0 mt-4">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="font-weight-bolder text-dark">Metadata Extraction Results </span>
                    </h3>
                </div>
                            <!--end::Header-->
                            <!--begin::Body-->
                <div class="card-body pt-4" id="activitybar" name="activitybar">                              
                    {% if metadata.Error %}

                    <div class="alert alert-danger" role="alert">
                        The File doesnt contain any metadata.
                    </div>
                
                    {% else %}
                    
                        {% for key,value in metadata.items %}
                            {% if value.items and key != "references_dict" %}
                                    {% for key1,value1 in value.items %}
                                            {% if value1.items %}

                                                {% for key2,value2 in value1.items %}
                                                    <p class="card-text" align="left" style = "margin-left: 25px;"><strong>{{key2}} : </strong> {{value2}}</p>
                                                {% endfor %}
                                                
                                            {% else %}
                                                <p class="card-text" align="left" style = "margin-left: 25px;"><strong>{{key1}} : </strong> {{value1}}</p>
                                            {% endif %}
                                    {% endfor %}
                            {% elif key == "references_dict" %}
                                <p class="card-text" align="left"><strong>{{key}} : </strong></p>
                                    {% for key1,value1 in value.items %}
                                            <p class="card-text" align="left" style = "margin-left: 25px;"><strong>{{key1}}</strong></p>
                                            {% for value2 in value1 %}
                                                <p class="card-text" align="left" style = "margin-left: 50px;">{{value2}}</p>
                                            {% endfor %}
                                    <br>
                                    {% endfor %}
                                
                            {% else %}
                                <p class="card-text" align="left" style = "margin-left: 25px;"><strong>{{key}} : </strong> {{value}}</p>
                            {% endif %}

                        {% endfor %}
                </div>
            </div>

        <div class="col-lg-4 col-xxl-4 col-md-4">
            <!--begin::List Widget 9-->
            <div class="card card-custom card-stretch gutter-b">
                <!--begin::Header-->
                <div class="card-header align-items-center border-0 mt-4">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="font-weight-bolder text-dark">Past Extracts</span>
                    </h3>
                </div>
                <!--end::Header-->

                <!--begin::Body-->
                <div class="card-body pt-4" id="activitybar" name="activitybar">
                    <div class="timeline timeline-5 mt-3">
                        {% for key,value in history.items %}
                            <!--begin::Item-->
                            <div class="timeline-item align-items-start">
                                <form method="POST" action="" name="{{key}}" id="{{key}}">{% csrf_token %}
                                    <input hidden id="filename" name="filename" value="{{key}}" />
                                    <!--begin::Text-->
                                    <div class="font-weight-bolder text-dark-75 pl-3 font-size-lg">
                                        <a href="javascript:void()" onclick="document.getElementById('{{key}}').submit();" ><span class="card-text">{{key}}</span></a>
                                        <br>
                                        <span class="text-muted">Time : {{value.time}} </span>
                                    </div>
                                </form>
                                <!--end::Text-->
                            </div>
                            <!--end::Item-->
                        {% endfor %}
                    </div>
                </div>
                <!--end: Card Body-->
            </div>
            <!--end: Card-->
            <!--end: List Widget 9-->
        </div>
    {% endif %}
    </div>
            </div>
            <!--end::Row-->

            <!--end::Dashboard-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->

    {% if gmap3 %}
        <div class="col-lg-12">
            <div class="card text-center border-primary">
                <div class="card-header">
                    Google Map Location
                </div>
                <div class="card-body">
                    <div id='gpsmap' width="80%" style='height:400px'>
                        <script>            
                            var map = new GMaps({
                                div: '#gpsmap',
                                lat: 20.5937,
                                lng:  78.9629,
                                zoom: 4
                            });
                            
                            map.addMarker({
                                lat: "{{lats}}",
                                lng: "{{lons}}",
                                title: 'Image Location',
                            });
                        </script>
                    </div>
                </div>
            </div> 
        </div>

    {% endif %}
         


{% endblock %}
