{% extends "base.html" %}

{% load static %}

{% block content %}
    

  <!-- BEGIN PAGE LEVEL STYLES -->
  <link href="{% static 'assets/css/scrollspyNav.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'plugins/file-upload/file-upload-with-preview.min.css' %}" rel="stylesheet" type="text/css" />
  
  <!-- END PAGE LEVEL STYLES --> 

      <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
      <script src="{% static 'plugins/apex/apexcharts.min.js' %}"></script>
      <script src="{% static 'assets/js/dashboard/dash_2.js' %}"></script>
      <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
   
      
    <div class="content  d-flex flex-column flex-column-fluid" id="kt_content">

        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class=" container ">
                <!--begin::Dashboard-->
                <!--begin::Row-->
                <div class="row">

    {% if GET %}

        <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12"> 
            <div id="fuSingleFile" class="col-lg-12">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="">
                                <h4>&nbsp Metadata Analysis</h4>
                            </div>      
                        </div>
                    </div>
                    <div class="widget-content widget-content-area">
                        <div class="custom-file-container" data-upload-id="myFirstImage">
                            <form name="MetdaData" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                            <label>Upload Image / PDF <a href="javascript:void(0)" class="custom-file-container__image-clear" title="Clear Image">x</a></label>
                            <label class="custom-file-container__custom-file" >
                                <input id="metaimage" name="metaimage" type="file" class="custom-file-container__custom-file__custom-file-input" accept="image/*,application/pdf">
                                <span class="custom-file-container__custom-file__custom-file-control"></span>
                            </label>
                            <div class="custom-file-container__image-preview"></div>
                            <center><input type="submit" class="btn btn-primary" value="Extract" /> </center>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% elif POST %}
        <div class="card card-custom card-stretch gutter-b col-9" style="margin-top:25px">
                <!--begin::Header-->
                <div class="card-header align-items-center border-0 mt-4">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="font-weight-bolder text-dark">Metadata Extraction Results </span>
                    </h3>
                </div>
                            <!--end::Header-->
                            <!--begin::Body-->
                <div class="card-body pt-4" id="activitybar" name="activitybar">                              
                    {% if metadata.Error %}

                    <div class="alert alert-danger" role="alert">
                        The File doesnt contain any metadata.
                    </div>
                
                    {% else %}
                        {% for key,value in metadata.items %}
                            {% if value.items and key != "references_dict" %}
                                    {% for key1,value1 in value.items %}
                                            {% if value1.items %}

                                                {% for key2,value2 in value1.items %}
                                                    <p class="card-text" align="left" style = "margin-left: 25px;"><strong>{{key2}} : </strong> {{value2}}</p>
                                                {% endfor %}
                                                
                                            {% else %}
                                                <p class="card-text" align="left" style = "margin-left: 25px;"><strong>{{key1}} : </strong> {{value1}}</p>
                                            {% endif %}
                                    {% endfor %}
                            {% elif key == "references_dict" %}
                                <p class="card-text" align="left"><strong>{{key}} : </strong></p>
                                    {% for key1,value1 in value.items %}
                                            <p class="card-text" align="left" style = "margin-left: 25px;"><strong>{{key1}}</strong></p>
                                            {% for value2 in value1 %}
                                                <p class="card-text" align="left" style = "margin-left: 50px;">{{value2}}</p>
                                            {% endfor %}
                                    <br>
                                    {% endfor %}
                                
                            {% else %}
                                <p class="card-text" align="left" style = "margin-left: 25px;"><strong>{{key}} : </strong> {{value}}</p>
                            {% endif %}

                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-xxl-4 col-md-4">
            <!--begin::List Widget 9-->
            <div class="card card-custom card-stretch gutter-b">
                <!--begin::Header-->
                <div class="card-header align-items-center border-0 mt-4">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="font-weight-bolder text-dark">Past Extracts</span>
                    </h3>
                </div>
                <!--end::Header-->

                <!--begin::Body-->
                <div class="card-body pt-4" id="activitybar" name="activitybar">
                    <div class="timeline timeline-5 mt-3">
                        {% for key,value in history.items %}
                            <!--begin::Item-->
                            <div class="timeline-item align-items-start">
                                <form method="POST" action="" name="{{key}}" id="{{key}}">{% csrf_token %}
                                    <input hidden id="filename" name="filename" value="{{key}}" />
                                    <!--begin::Text-->
                                    <div class="font-weight-bolder text-dark-75 pl-3 font-size-lg">
                                        <a href="javascript:void()" onclick="document.getElementById('{{key}}').submit();" ><span class="card-text">{{key}}</span></a>
                                        <br>
                                        <span class="text-muted">Time : {{value.time}} </span>
                                    </div>
                                </form>
                                <!--end::Text-->
                            </div>
                            <!--end::Item-->
                        {% endfor %}
                    </div>
                </div>
                <!--end: Card Body-->
            </div>
            <!--end: Card-->
            <!--end: List Widget 9-->
        </div>
    {% endif %}
            </div>
            <!--end::Row-->

            <!--end::Dashboard-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->

    {% if gmap3 %}
        <div class="col-lg-12">
            <div class="card text-center border-primary">
                <div class="card-header">
                    Google Map Location
                </div>
                <div class="card-body">
                    <div id='gpsmap' width="80%" style='height:400px'>
                        {% include "heatmap.html" %}
                    </div>
                </div>
            </div> 
        </div>

    {% endif %}
    
 <!-- BEGIN PAGE LEVEL PLUGINS -->
 <script src="{% static 'assets/js/scrollspyNav.js' %}"></script>
 <script src="{% static 'plugins/file-upload/file-upload-with-preview.min.js' %}"></script>

 <script>
     //First upload
     var firstUpload = new FileUploadWithPreview('myFirstImage')
 </script>
 <!-- END PAGE LEVEL PLUGINS -->  

         


{% endblock %}
