.bg-facebook {
    background-color: #3b5998 !important;
    border-color: #3b5998 !important;
    color: white !important;
}

.socicon-facebook {
    color: white !important;
}

.bg-instagram {
    background-color: #e1306c !important;
    border-color: #e1306c !important;
    color: white !important;
}

.socicon-instagram {
    color: white !important;
}

.bg-twitter {
    background-color: #1da1f2 !important;
    border-color: #1da1f2 !important;
    color: white !important;
}

.socicon-twitter {
    color: white !important;
}

.text-twitter {
    color: #1da1f2 !important;
}

